@font-face{
    font-family: Rayleigh;
    src:url('../assets/Rayleigh-Demo-Version-2.otf')
}
@font-face{
    font-family: BebasNeue;
    src:url('../assets/BebasNeue.otf')
}


html {
    height: 100%;
    box-sizing: border-box;
}
#app{
    height: 100%;
}
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.ct{
    display: flex;
    align-items: center;
    justify-content: center;
}